{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for each in categories %}
            <li><a href="{{ url_for('survey',category=each.category) }}">{{each.category}}</a></li>
            {% endfor %}
            <li><a href="{{ url_for('index') }}">Duomenų Bazė</a></li>
            <li><a href="{{ url_for('logout') }}">Atsijungti</a></li>
          </ul>
        </div>
      </div>  
    </nav>
  <h2 class="sub-header">Duomenų Bazė</h2>
        <img src="{{url_for('static', filename='risk_matrix.png')}}", valign="bottom"/>
        <h3 class="sub-header">Klausimai</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Klausimas</th>
                  <th>Poveikis</th>
                  <th>Tikėtinumas</th>
                  <th>Kategorija</th>
                  <th>Klausimo Id</th>
                  <th>Įrašymo laikas</th>
                  <th>Veiksmas</th>
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.question }}</td>
                    <td>{{ row.impact }}</td>
                    <td>{{ row.likelihood }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.question_id }}</td>
                    <td>{{ row.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{row.id}}">Ištrinti</a>
                        <br>
                        <a href="/update/{{row.id}}">Atnaujinti</a>
                    </td>
                </tr>
                {% endfor %}            
            <tr>            
              <div class="form">
                  <form action="/" method="POST">
                      <td><input type="text" name="question" id="question"></td>
                      <td><input type="number" name="impact" id="impact" min="1" max="5" required></td>
                      <td><input type="number" name="likelihood" id="likelihood" min="1" max="5" required></td>                      
                      <td><select class="form-control" name="category">
                        {% for each in categories %}
                        <option value="{{each.category}}">{{each.category}}</option>
                        {% endfor %}
                      </select></td>
                      <td></td>
                      <td><input type="submit" value="Pridėti klausimą"></td>
                  </form>
              </div>
            </tr>
            </tbody>
          </table>
          </div>            
            </tr>
            <h3 class="sub-header">Faktai</h3>
            <div class="table-responsive">
              <table class="table table-striped">              
              <thead>
                <tr>
                  <th>Sąlygos</th>
                  <th>Rizikos aprašymas</th>                  
                </tr>
              </thead>
              <tbody>
                {% for each in facts %}
                <tr>
                    <td>{{ each.facts }}</td>
                    <td>{{ each.risk_description }}</td>
                    <td>
                      <a href="/delete_fact/{{each.fact_id}}">Ištrinti</a>
                    </td>
                    {% endfor %}
                <tr>            
                    <div class="form">
                          <form action="/" method="POST">
                              <td><input type="text" name="facts" id="facts" required></td>
                              <td><input type="text" name="risk_description" id="risk_description" required></td>
                              <td><input type="submit" value="Pridėti faktus"></td>
                          </form>
                    </div>
                </tr>
              </tbody>    
            </table>
            <h3 class="sub-header">Kategorijos</h3>
            <div class="table-responsive">
              <table class="table table-striped">              
              <thead>
                <tr>
                  <th>Kategorija</th>
                  <th>Aprašymas</th>                  
                </tr>
              </thead>
              <tbody>
                {% for each in categories %}
                <tr>
                    <td>{{ each.category }}</td>
                    <td>{{ each.description }}</td>
                    <td>
                      <a href="/delete_category/{{each.id}}">Ištrinti</a>
                    </td>
                    {% endfor %}
                </tr>
                <tr>            
                  <div class="form">
                        <form action="/" method="POST">
                            <td><input type="text" name="category_name" id="category" required></td>
                            <td><input type="text" name="description" id="description" required></td>
                            <td><input type="submit" value="Pridėti kategoriją"></td>
                        </form>
                  </div>
              </tr>
              </tbody>    
            </table>    
{% endblock %}