{% extends 'base.html' %}

{% block head %}
<title>Expert System for IT security risk analysis</title>
{% endblock %}

{% block body %}
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Paramos sistema</a></li>
      <li><a href="{{ url_for('logout') }}">Atsijungti</a></li>
    </ul>
  </div>
<div class="content">
    <h1 style="text-align: center">Klausimų bazė</h1>    
    <table>
        <tr>
            <th>Klausimas</th>
            <th>Poveikis</th>
            <th>Tikėtinumas</th>
            <th>Įrašymo laikas</th>
            <th>Veiksmas</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{ row.question }}</td>
                <td>{{ row.impact }}</td>
                <td>{{ row.likelihood }}</td>
                <td>{{ row.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{row.id}}">Ištrinti</a>
                    <br>
                    <a href="/update/{{row.id}}">Atnaujinti</a>
                </td>
            </tr>
        {% endfor %}
        <tr>            
            <div class="form">
                <form action="/" method="POST">
                    <td><input type="text" name="question" id="question"></td>
                    <td><input type="number" name="impact" id="impact" min="1" max="5"></td>
                    <td><input type="number" name="likelihood" id="likelihood" min="1" max="5"></td>
                    <td></td>
                    <td><input type="submit" value="Pridėti klausimą"></td>
                </form>
            </div>
        </tr>
    </table>   
</div>
{% endblock %}