{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('survey') }}">Paramos sistema</a></li>
            <li><a href="{{ url_for('logout') }}">Atsijungti</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <h2 class="sub-header">Klausimai</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Klausimas</th>                  
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.question }}</td>
                    <tr>
                    <td><input type="radio" id="true" name = "YesNo"> Yes <br><input type="radio" id = "false" name = "YesNo"> No </td>
                  </label>
                    </tr>
                </tr>
            {% endfor %}
              </tbody>
{% endblock %}