{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for each in categories %}
            <li><a href="{{ url_for('survey',category=each.category) }}">{{each.category}}</a></li>
            {% endfor %}
            <li><a href="{{ url_for('index') }}">Klausimų bazė</a></li>
            <li><a href="{{ url_for('logout') }}">Atsijungti</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <h2 class="sub-header">Klausimai</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Klausimas</th>                  
                </tr>
              </thead>
              <tbody>
                <div class="form">
                <form action="/survey" method="POST">
                {% for row in rows %}
                <tr>
                    <td>{{ row.question }}</td>
                    <tr>
                    <td><input type="radio" id="true" name = "{{ row.id }}" value = "yes"> Taip <br>
                      <input type="radio" id="false" name = "{{ row.id }}" value = "no"> Ne </td>
                    </tr>
                </tr>
                {% endfor %}
            <td><input type="submit" value="Pateikti"></td>
          </form>
        </div>
              </tbody>
{% endblock %}